@font-face { font-family: "Sunshine"; src: url('http://static.tumblr.com/5fd89aw/U3vli7rvs/sunshine_in_my_soul.ttf'); }
@font-face { font-family: "Wendy"; src: url('http://static.tumblr.com/bbzqrao/eObmh3xfn/wendy.ttf'); }
@font-face {font-family: "Economica"; src: url('http://static.tumblr.com/jtqlgf2/EFzm1d5lh/economica-regular.ttf');} 


body {
	background-color: #000f44;
	background-position: top left;
	background-repeat: no-repeat;
	background-position: fixed;
}

::-webkit-scrollbar {
width: 5px;
}

/* !!TRACK!! */

::-webkit-scrollbar-track {
background-color: #000f44;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
}

/* !!THUMB!! */

::-webkit-scrollbar-thumb {
background: #dcdfe8; 
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
}

::-webkit-scrollbar-thumb:window-inactive {
background: #dcdfe8; 
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
}


.header{
	top: 0px;
	left: 0px;
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: -9999;
}

.container{
	width: 100%;
	height: 100%;
	position: fixed;
	color: #fff;
	top: 430px;
	right: 100px;
	font-family: "Economica";
	font-size: 16px;
	-webkit-font-smoothing: antialiased;
	text-align: center;
}

.textbox{
	background-color: transparent;
	width: 400px;
	height: 200px;
	position: fixed;
	top: 450px;
	left: 300px;
	padding-right: 50px;
	text-align: justify;
	z-index: 999;
	overflow-y: auto;
	overflow-x: hidden;
}

.textbox h2 {
	font-family: "Economica";
	font-size: 36px;
	letter-spacing: 3px;
	text-align: center;
}

.navi {
	font-family: "Economica";
	font-size: 20px;
	border-bottom: 1px #444444 solid;
	text-align: center;
	color: #777777;
	height: 25px;
	width: 300px;
	display: block;
	padding-top: 4px;
	padding-left: 4px;
	letter-spacing: 15px;
	position: fixed;
	top: 0px;
	right: 10px;

}

.navi a {
	font-family: "Economica";
	text-decoration: none;
	text-transform: uppercase;
	font-size: 12px;
	border-left: 10px #444444 solid;
	color: #777777;
	display: block;
	padding-top: 4px;
	padding-left: 4px;
	-webkit-transition: all 1.0s ease-in-out;
	-moz-transition: all 1.0s ease-in-out;
	-o-transition: all 1.0s ease-in-out;
	-ms-transition: all 1.0s ease-in-out;
	transition: all 1.0s ease-in-out;

}

.navi a:hover {
	border-left: 30px #444444 solid;
	color: #d8d8d8;
}
	